.center {
    display:flex;
    justify-content: center;
}
form{
    display:flex;
    justify-content: center;
    flex-direction: column;
    margin-top:100px;
}
select{
    padding: 10px;
    margin: 10px;
    width: 200px;
}
button{
    width: 200px;
    margin: 10px;
    
}